.CavaleiroDetalhesModal {
  font-family: "Exo";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px 0px 10px 10px;
  max-height: 350px;
  box-sizing: border-box;
  width: 315px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.CavaleiroDetalhesModal>div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.CavaleiroDetalhesModal__name {
  font-size: 2em;
  font-weight: 700;
  line-height: 100%;
}

.CavaleiroDetalhesModal__skill {
  font-size: 1em;
}

.CavaleiroDetalhesModal__picture {
  margin-right: -100px;
  z-index: 0;
}

@media (max-width: 400px) {
  .CavaleiroDetalhesModal {
    width: 210px;
    height: 100vh;
  }

  .CavaleiroDetalhesModal__picture {
    height: 250px;
    margin-top: 50px;
    margin-right: -100px;
  }

  .CavaleiroDetalhesModal__name {
    font-size: 1.5em;
  }

  .CavaleiroDetalhesModal__skill {
    font-size: 0.9em;
  }
}